<div class="section center" style="background-image: url('/img/back2.jpg');">
    <div class="container center">
        <br><br><br>



        <!--   Icon Section   -->
        <div class="row center">
            <div class="col s12  white-text">
            	<img src = "img/glogo.png" width="350" height="428">
                <div class="icon-block">
                    <h9 class="center">It's the thought that counts.</h9>

                    <p class="light">
                    
                    
                    <H6>A web platform where customers can select a hand delivered, locally generated gift with distinction and love.</h6>
                    
                    
                    </p>
                </div>
            </div>



            <div class="col s12 m6">
                <div class="icon-block">
                    <h6 class="center">.</h6>

                    <p class="light">.
                    </p>
                </div>
            </div>
        </div>



        <!-- <h7 class="header white-text center">Wrapp</h7> -->
        <div class="row center">
            <!--
          <h6 class="header col s12  white-text light">Counselling blah blah blah blah blah</h6>
          -->
        </div>
        <!--
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        -->
        <br><br>

    </div>
</div>









<div class="col s12 m6 l6 center">
    <div class="card-panel  white ">
        <div ng-controller="joinFormController">
            <form>
                <h6 class="header center black-text light center">Enter a postal code</h6>

                <div class="row">

                    <div class="black-text input-field col s6 offset-s3">
                        <i class="material-icons prefix white-text">account_circle</i>
                        <input type="text" class="validate black-text center" ng-model="user.username">

                    </div>
                </div>


                          
            </form>
            
                    <a href = "giftsfull.html">
        <button class="btn waves-effect waves-light  white black-text btn-large" type="submit" ng-click="createTodo()">Submit<i class="material-icons right black-text">send</i>
        </button>
        </a>
        </div>
    </div>
</div>









<div class="section center" style="background-image: url('/img/back1.jpg');">
    <div class="container center">
        <br><br><br>



        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m12 white-text">
                <div class="icon-block">
                    <h9 class="center">Customize Your Gift</h9>

                </div>
            </div>


        </div>



        <a href = "tailor.html">
        <button class="btn waves-effect waves-light white black-text btn-large" type="submit" ng-click="createTodo()">Go
                <i class="material-icons right black-text">send</i>
        </button>
        </a>
                                
                                
        <div class="row center">
            <!--
          <h6 class="header col s12  white-text light">Counselling blah blah blah blah blah</h6>
          -->
        </div>
        <!--
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        -->
        <br><br>

    </div>
</div>




















<div class="parallax"><img src="img/back1.jpg" alt="Unsplashed background img 1"></div>





<div class="white">
    <div class="section ">

        <div class="row">




            <div class="col s12 center">
                <p class="left-align light h6">
                    <div class="container">
                        <h6 class="center black-text light">This company is dedicated to helping working people easily deliver gifts. </h6> <br>
                        <
                    </div>
                </p>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m6">
                <div class="icon-block">
                    <h6 class="center">Those Struggling</h6>

                    <p class="light">If you are struggling with addiction, you have just completed your treatment program and now you are about to move forward with your life. First, congratulations is in order. I have worked with many clients over the years and it is never easy to look at yourself and examine the areas where you want to make changes in your life and maintain them. We often hear scary stories of high relapse rates of where people fall back into their old situations and at times even worse than before they had gone to treatment. It is easy to get stuck and say why even bother with all of this stuff. The truth of the matter is that change is never easy and I am sure that your treatment centre never made the clamed that your journey is going to be easy. Evidence shows that having structure and support throughout early months of recovery are critical to success</p>
                </div>
            </div>



            <div class="col s12 m6">
                <div class="icon-block">
                    <h6 class="center">Partners</h6>

                    <p class="light">
                        If you are close to somebody that has an addiction, chaos and stress becomes the norm of the day. It is easy to get lost. One wants to help, but often they lose a sense of themselves. Often not know what to do. Arguments and power struggles become the normal way of functioning and the situation becomes even worse. There is hope. There is something that you can do that will allow you to move in a direction of health. First, learn as much as you can about the nature of addiction. This will allow you to be supportive without losing yourself in the process. The old adage that “knowledge is power” is very true. One does not need to keep doing the same thing over and over again and expecting a different result. We offer help in how to get through this very difficult process.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>